@font-face {
  font-family: 'Quicksand';
  src: url('./assets/dashboard/quicksand-400.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/dashboard/quicksand-500.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/dashboard/quicksand-600.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/dashboard/quicksand-700.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

:root {
  font-family: 'Quicksand', sans-serif;
  font-synthesis: none;
  color: #454652;
  background: #fbe9e7;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  background: #fbe9e7;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

#root {
  min-height: 100vh;
}
